@import url('https://fonts.cdnfonts.com/css/br-cobane');
@import url('https://fonts.cdnfonts.com/css/banner');

body{
background: #EEAECA;
background: linear-gradient(179deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
                                              
}

form{
    width:700px;
    margin:0px auto;

}

fieldset{
    border: 5px solid #090979;
    border-radius: 15px;
    font-family: 'BR Cobane', sans-serif;                                                
}

h1{
    font-family: 'BANNER', sans-serif;
     text-align: center;
     background: #030217;
     background: linear-gradient(184deg, rgba(3, 2, 23, 1) 0%, rgba(9, 9, 121, 1) 34%, rgba(4, 115, 191, 1) 67%, rgba(2, 164, 224, 1) 100%, rgba(0, 212, 255, 1) 100%);
     background-clip: text;
     color: transparent;
}

legend{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color:#090979
}

input[required]{
    border: 3px solid black;
    border-radius: 10px;
}

input[optional]{
    border: 3px solid blueviolet;
    border-radius: 10px;
}

input:focus{
    background-color: #EEAECA;
}

input + p{
    display: none;
}

input:hover + p{
    display: inline;
    background-color: aquamarine;
    font-weight: 600;
    border-radius: 10px;
}

input[type="radio"]:checked{
    height: 20px;
    width: 20px;
}
input[type="radio"]:checked + label{
    font-size: 20px;
    font-family: fantasy;
    background-color: aquamarine;
    border-radius: 15px;
}

select{
     font-size: 15px;
    font-family: fantasy;
    background-color: aquamarine;
    border-radius: 20px;
}

input[type="file"]{
    background-color: aquamarine;
    border-radius: 20px;
}

input[type="submit"]{
    background-color:#0473BF ;
    border-radius: 15px;
}

input[type="reset"]{
    background-color: #0473BF;
    border-radius: 15px;
}

textarea{
    resize:none;
}
input[type="email"]~img{
    display:none;
}
input[type="email"]:focus:valid~img#tick{
display:inline;

}
input[type="email"]:focus:invalid~img#cross{
    display:inline;

}
